.imageSidebar {
  width: 50%;
  /* height: 100vh;  */
  object-fit: cover;
  background: no-repeat;

  @media (min-width: 1280px) {
    display: block;
  }

  @media (max-width: 1279px) {
    display: none;
  }
}
/* 
@media (min-width: 1280px) {
  .imageSidebar {
    display: block;
  }
}

@media (max-width: 1279px) {
  .imageSidebar {
    display: none;
  }
} */
