.imageSidebar {
  width: 50%;
  /* height: 100vh;  */
  object-fit: cover;
  background: no-repeat;
  flex: 1 1;
  @media (min-width: 1280px) {
    display: block;
  }

  @media (max-width: 1279px) {
    display: none;
  }
}
