.customScrollbar::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  border-radius: 2px;
}

.customScrollbar::-webkit-scrollbar-track {
  background: #09090a;
}

.customScrollbar::-webkit-scrollbar-thumb {
  background: #5c5c7b;
  border-radius: 50px;
}

.customScrollbar::-webkit-scrollbar-thumb:hover {
  background: #7878a3;
}

.homeCreators {
  display: none;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 10px;
  gap: 10px;
  overflow-y: scroll;

  @media (min-width: 1280px) {
    display: flex;
    flex-direction: column;
    width: 72px;
  }

  @media (min-width: 1536px) {
    width: 465px;
  }
}

.bodyMedium {
  font-size: 18px;
  font-weight: 500; /* Nilai font-medium */
  line-height: 140%;
  color: #ffffff;
}

.homeContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  gap: 10px;
  overflow-y: scroll;
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: 768px) {
    padding-left: 8px;
    padding-right: 8px;
  }

  @media (min-width: 1024px) {
    padding-left: 14px;
    padding-right: 14px;
  }
}

.h2Bold {
  font-size: 30px;
  font-weight: bold;
  line-height: 140%;
  letter-spacing: tighter;
}

.h3Bold {
  font-size: 24px;
  font-weight: bold;
  line-height: 140%;
  letter-spacing: tighter;
}

.flexBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.baseRegular {
  font-size: 16px; /* Sesuaikan dengan nilai text-[16px] pada Tailwind */
  font-weight: 400; /* Sesuaikan dengan nilai font-normal pada Tailwind */
  line-height: 1.4; /* Sesuaikan dengan nilai leading-[140%] pada Tailwind */
}

.baseMedium {
  font-size: 16px;
  font-weight: 500; /* Corresponds to font-medium in Tailwind */
  line-height: 1.4; /* Corresponds to leading-[140%] in Tailwind */
}

.bodyBold {
  font-size: 18px;
  font-weight: 700; /* Corresponds to font-bold in Tailwind */
  line-height: 1.4; /* Corresponds to leading-[140%] in Tailwind */
}

.subtleSemibold {
  font-size: 12px;
  font-weight: 600; /* Corresponds to font-semibold in Tailwind */
  line-height: 1.4;
}

.smallRegular {
  font-size: 14px;
  font-weight: 400; /* Corresponds to font-normal in Tailwind */
  line-height: 1.4;
}

.smallMedium {
  font-size: 14px;
  font-weight: 500; /* Corresponds to font-medium in Tailwind */
  line-height: 1.4;
}

.postcardImg {
  height: 16rem; /* Corresponds to h-64 in Tailwind */
  width: 100%;
  border-radius: 1.5rem; /* Corresponds to rounded-[24px] in Tailwind */
  object-fit: cover;
  margin-bottom: 1.25rem; /* Corresponds to mb-5 in Tailwind */

  @media (min-width: 480px) {
    height: 25rem; /* Corresponds to xs:h-[400px] in Tailwind */
  }

  @media (min-width: 1024px) {
    height: 28.125rem; /* Corresponds to lg:h-[450px] in Tailwind */
  }
}

.userCard {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem; /* Corresponds to gap-4 in Tailwind */
  border: 1px solid #1f1f22; /* Replace with the actual dark color variable if available */
  border-radius: 20px; /* Corresponds to rounded-[20px] in Tailwind */
  padding: 1.25rem 1.875rem; /* Corresponds to px-5 py-8 in Tailwind */
}

.borderRadius {
  border-radius: 50%;
}

.lineClamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 1;
}

.shadButtonPrimary {
  background-color: #877eff !important; /* Replace with the actual primary color variable if available */
  color: #ffffff !important; /* Replace with the actual light color variable if available */
  display: flex !important;
  gap: 0.5rem !important; /* Adjusted for gap-2 in Tailwind */
  &:hover {
    background-color: #877eff !important; /* Hover state */
  }
}

.shadButtonGhost {
  display: flex;
  gap: 1rem; /* Sesuaikan dengan nilai gap-4 pada Tailwind */
  align-items: center;
  justify-content: flex-start;
  &:hover {
    background-color: transparent; /* Sesuaikan dengan nilai hover:bg-transparent pada Tailwind */
    color: white;
  }
}

.postDetailsContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 2.5rem; /* Adjusted for gap-10 in Tailwind */
  overflow-y: scroll;
  padding: 2.5rem 1.25rem; /* Adjusted for py-10 px-5 in Tailwind */
  align-items: center;

  @media (min-width: 768px) {
    padding: 3.5rem; /* Adjusted for md:p-14 in Tailwind */
  }
}

.postDetailsCard {
  background-color: #09090a;
  width: 100%;
  max-width: 64rem; /* Sesuaikan dengan nilai max-w-5xl pada Tailwind */
  border: 1px solid #1f1f22; /* Sesuaikan dengan nilai border-dark-4 pada Tailwind */
  border-radius: 30px; /* Sesuaikan dengan nilai rounded-[30px] pada Tailwind */
  display: flex;
  flex-direction: column;

  @media (min-width: 1200px) {
    border-radius: 30px 0 0 30px; /* Sesuaikan dengan nilai xl:rounded-l-[24px] pada Tailwind */
    flex-direction: row;
  }
}

.postDetailsImg {
  height: 20rem; /* Sesuaikan dengan nilai h-80 pada Tailwind */
  object-fit: cover;
  padding: 1.25rem; /* Sesuaikan dengan nilai p-5 pada Tailwind */
  background-color: #000000;

  @media (min-width: 768px) {
    height: 30rem; /* Sesuaikan dengan nilai lg:h-[480px] pada Tailwind */
  }

  @media (min-width: 1024px) {
    width: 48%; /* Sesuaikan dengan nilai xl:w-[48%] pada Tailwind */
    border-radius: 30px 0 0 0; /* Sesuaikan dengan nilai rounded-t-[30px] pada Tailwind */
  }

  @media (min-width: 1200px) {
    border-radius: 30px 0 0 24px; /* Sesuaikan dengan nilai xl:rounded-l-[24px] pada Tailwind */
  }
}

.postDetailsInfo {
  background-color: #09090a;
  display: flex;
  flex-direction: column;
  gap: 1.25rem; /* Adjusted for gap-5 in Tailwind */
  padding: 2rem; /* Adjusted for p-8 in Tailwind */
  border-radius: 30px; /* Adjusted for rounded-[30px] in Tailwind */

  @media (min-width: 768px) {
    gap: 1.75rem; /* Adjusted for lg:gap-7 in Tailwind */
  }
}

.gridContainer {
  width: 100%; /* Sesuaikan dengan nilai w-full pada Tailwind */
  display: grid;
  grid-template-columns: 1fr; /* Sesuaikan dengan nilai grid-cols-1 pada Tailwind */
  gap: 1.75rem; /* Sesuaikan dengan nilai gap-7 pada Tailwind */
  max-width: 64rem; /* Sesuaikan dengan nilai max-w-5xl pada Tailwind */

  @media (min-width: 640px) {
    grid-template-columns: repeat(
      2,
      1fr
    ); /* Sesuaikan dengan nilai sm:grid-cols-2 pada Tailwind */
  }

  @media (min-width: 768px) {
    grid-template-columns: repeat(
      1,
      1fr
    ); /* Sesuaikan dengan nilai md:grid-cols-1 pada Tailwind */
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(
      2,
      1fr
    ); /* Sesuaikan dengan nilai lg:grid-cols-2 pada Tailwind */
  }

  @media (min-width: 1280px) {
    grid-template-columns: repeat(
      3,
      1fr
    ); /* Sesuaikan dengan nilai xl:grid-cols-3 pada Tailwind */
  }
}

.gridPostlink {
  display: flex;
  border-radius: 24px; /* Sesuaikan dengan nilai rounded-[24px] pada Tailwind */
  border: 1px solid #1f1f22; /* Sesuaikan dengan nilai border-dark-4 pada Tailwind */
  overflow: hidden;
  cursor: pointer;
  width: 100%; /* Sesuaikan dengan nilai w-full pada Tailwind */
  height: 100%; /* Sesuaikan dengan nilai h-full pada Tailwind */
}

.gridPostUser {
  position: absolute;
  bottom: 0;
  padding: 1.25rem; /* Sesuaikan dengan nilai p-5 pada Tailwind */
  display: flex;
  justify-content: space-between;
  width: 100%; /* Sesuaikan dengan nilai w-full pada Tailwind */
  background: linear-gradient(to top, #101012, transparent);
  border-radius: 0 0 24px 24px; /* Sesuaikan dengan nilai rounded-b-[24px] pada Tailwind */
  gap: 0.5rem; /* Sesuaikan dengan nilai gap-2 pada Tailwind */
}
