.customScrollbar::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  border-radius: 2px;
}

.customScrollbar::-webkit-scrollbar-track {
  background: #09090a;
}

.customScrollbar::-webkit-scrollbar-thumb {
  background: #5c5c7b;
  border-radius: 50px;
}

.customScrollbar::-webkit-scrollbar-thumb:hover {
  background: #7878a3;
}

.homeCreators {
  display: none;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 10px;
  gap: 10px;
  overflow-y: scroll;

  @media (min-width: 1280px) {
    display: flex;
    flex-direction: column;
    width: 72px;
  }

  @media (min-width: 1536px) {
    width: 465px;
  }
}

.bodyMedium {
  font-size: 18px;
  font-weight: 500; /* Nilai font-medium */
  line-height: 140%;
  color: #ffffff;
}

.homeContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  gap: 10px;
  overflow-y: scroll;
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: 768px) {
    padding-left: 8px;
    padding-right: 8px;
  }

  @media (min-width: 1024px) {
    padding-left: 14px;
    padding-right: 14px;
  }
}

.h2Bold {
  font-size: 30px;
  font-weight: bold;
  line-height: 140%;
  letter-spacing: tighter;
}

.h3Bold {
  font-size: 24px;
  font-weight: bold;
  line-height: 140%;
  letter-spacing: tighter;
}

.flexBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.baseMedium {
  font-size: 16px;
  font-weight: 500; /* Corresponds to font-medium in Tailwind */
  line-height: 1.4; /* Corresponds to leading-[140%] in Tailwind */
}

.bodyBold {
  font-size: 18px;
  font-weight: 700; /* Corresponds to font-bold in Tailwind */
  line-height: 1.4; /* Corresponds to leading-[140%] in Tailwind */
}

.subtleSemibold {
  font-size: 12px;
  font-weight: 600; /* Corresponds to font-semibold in Tailwind */
  line-height: 1.4;
}

.smallRegular {
  font-size: 14px;
  font-weight: 400; /* Corresponds to font-normal in Tailwind */
  line-height: 1.4;
}

.smallMedium {
  font-size: 14px;
  font-weight: 500; /* Corresponds to font-medium in Tailwind */
  line-height: 1.4;
}

.postcardImg {
  height: 16rem; /* Corresponds to h-64 in Tailwind */
  width: 100%;
  border-radius: 1.5rem; /* Corresponds to rounded-[24px] in Tailwind */
  object-fit: cover;
  margin-bottom: 1.25rem; /* Corresponds to mb-5 in Tailwind */

  @media (min-width: 480px) {
    height: 25rem; /* Corresponds to xs:h-[400px] in Tailwind */
  }

  @media (min-width: 1024px) {
    height: 28.125rem; /* Corresponds to lg:h-[450px] in Tailwind */
  }
}

.userCard {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem; /* Corresponds to gap-4 in Tailwind */
  border: 1px solid #1f1f22; /* Replace with the actual dark color variable if available */
  border-radius: 20px; /* Corresponds to rounded-[20px] in Tailwind */
  padding: 1.25rem 1.875rem; /* Corresponds to px-5 py-8 in Tailwind */
}

.borderRadius {
  border-radius: 50%;
}

.lineClamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 1;
}

.shadButtonPrimary {
  background-color: #877eff !important; /* Replace with the actual primary color variable if available */
  color: #ffffff !important; /* Replace with the actual light color variable if available */
  display: flex !important;
  gap: 0.5rem !important; /* Adjusted for gap-2 in Tailwind */
  &:hover {
    background-color: #877eff !important; /* Hover state */
  }
}
