.container {
  width: 100%;
  /* position: relative; */
  height: 100vh;
  @media (min-width: 768px) {
    display: flex;
  }
}

.customScrollbar::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  border-radius: 2px;
}

.customScrollbar::-webkit-scrollbar-track {
  background: #09090a;
}

.customScrollbar::-webkit-scrollbar-thumb {
  background: #5c5c7b;
  border-radius: 50px;
}

.customScrollbar::-webkit-scrollbar-thumb:hover {
  background: #7878a3;
}
/* Todo Topbar */
.topbar {
  position: sticky;
  top: 0;
  z-index: 50;
  background-color: #09090a; /* Ganti dengan warna latar belakang yang sesuai */
  width: 100%;
  @media (min-width: 768px) {
    display: none;
  }
}

.link {
  display: flex;
  gap: 0.75rem; /* Sesuaikan nilai gap sesuai kebutuhan Anda */
  align-items: center;
  text-decoration: none; /* Jika ini adalah link, nonaktifkan gaya bawaan link */
  /* Mungkin perlu menambahkan aturan gaya lainnya sesuai kebutuhan Anda */
}

.profileImg {
  height: 2rem; /* Sesuaikan nilai sesuai kebutuhan Anda, karena 1rem = 8px */
  width: 2rem; /* Sesuaikan nilai sesuai kebutuhan Anda */
  border-radius: 50%; /* Membuat elemen menjadi lingkaran dengan sudut melingkar 50% */
}

/* TODO Left Sidebar */
.leftSidebar {
  display: none;
  flex-wrap: wrap;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  flex-direction: column;
  justify-content: space-between;
  min-width: 270px;
  background-color: #09090a;
  height: 100vh;

  @media (min-width: 768px) {
    display: flex;
  }

  .bodyBold {
    font-size: 18px;
    font-weight: bold;
    line-height: 140%;
  }

  .smallRegular {
    font-size: 14px;
    font-weight: normal;
    line-height: 140%;
    color: #7878a3;
  }

  .leftSidebarLink {
    font-size: 16px;
    font-weight: medium;
    line-height: 140%;
    border-radius: 0.375rem; /* 0.375rem sesuai dengan nilai dari rounded-lg di Tailwind */
    transition: background-color 0.3s ease;
    &:hover {
      background-color: #877eff; /* Nilai sesuai dengan hover:bg-primary-500 di Tailwind */
      .sidebarIcon {
        filter: invert(100%) brightness(0);
        transition: filter 0.3s ease;
      }
    }

    .sidebarIconActive {
      filter: invert(100%) brightness(0);
    }

    .navLinkContainer {
      display: flex;
      gap: 1rem; /* Jika 1 unit Tailwind = 0.25rem */
      align-items: center;
      padding: 1rem; /* Nilai padding disesuaikan dengan preferensi desain */
      color: white;
      text-decoration: none;
    }
  }

  .leftSidebarLinkBg {
    background-color: #877eff;
  }

  .shadButtonGhost {
    padding: 1rem;
    display: flex;
    gap: 1rem; /* Jika 1 unit Tailwind = 0.25rem */
    align-items: center;
    justify-content: start;
    transition: background-color 0.3s ease, color 0.3s ease !important;
    &:hover {
      background-color: transparent;
      color: white;
    }
  }

  .logoutText {
    font-size: 14px;
    font-weight: medium;
    line-height: 140%;
    @media (min-width: 1024px) {
      font-size: 16px;
    }
  }
}

/* Todo OUTLET */
.outletContainer {
  display: flex;
  flex: 1;
  height: 100%;

  .createPostContainer {
    display: flex;
    flex: 1;

    .commonContainer {
      display: flex;
      flex-direction: column;
      flex: 1;
      align-items: center;
      gap: 10px;
      overflow-y: scroll;
      padding-top: 10px;
      padding-left: 5px;
      padding-right: 5px;

      @media (min-width: 768px) {
        padding-left: 8px;
        padding-right: 8px;
      }

      @media (min-width: 1024px) {
        padding: 14px;
      }

      .container3 {
        max-width: 5xl; /* Gunakan nilai sebenarnya atau gantilah dengan nilai yang sesuai */
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 3px; /* Gunakan nilai sebenarnya atau gantilah dengan nilai yang sesuai */
        width: 100%;
        .textCreatePost {
          font-size: 24px;
          font-weight: bold;
          line-height: 140%;
          letter-spacing: -0.02em;
          text-align: left;
          width: 100%;
          @media (min-width: 768px) {
            font-size: 30px;
          }
        }
      }
    }

    .dropContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      background-color: #101012; /* Ganti dengan warna latar belakang yang sesuai */
      border-radius: 0.75rem; /* Sesuaikan sesuai kebutuhan Anda */
      cursor: pointer;

      .boxUploader {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 1.75rem; /* Nilai p-7 diubah menjadi 1.75rem */
        /* height: 80px;  */

        /* Khusus untuk ukuran layar besar (lg) */
        @media (min-width: 1024px) {
          height: 612px; /* Nilai lg:h-[612px] diubah menjadi 612px */
        }
      }

      .dragText {
        color: #efefef; /* Ganti dengan nilai warna teks yang sesuai */
        margin-bottom: 0.5rem; /* Sesuaikan margin-bottom sesuai dengan kebutuhan Anda */
        margin-top: 1.5rem; /* Sesuaikan margin-top sesuai dengan kebutuhan Anda */
        font-size: 16px;
        font-weight: medium;
        line-height: 140%;
      }
      .fileText {
        color: #5c5c7b;
        font-weight: normal; /* Sesuaikan bobot font sesuai dengan kebutuhan Anda */
        margin-bottom: 1.5rem; /* Sesuaikan margin-bottom sesuai dengan kebutuhan Anda */
        font-size: 14px;
        font-weight: normal;
        line-height: 140%;
      }
      .selectButton {
        background-color: #1f1f22;
        padding-left: 1.25rem;
        padding-right: 1.25rem;
        /* padding: 1.25rem; */
        color: #ffffff;
        /* display: flex; */
        /* gap: 0.5rem;  */
        /* height: 100%; */
      }
    }
  }

  .postFormContainer {
    display: flex;
    flex-direction: column;
    gap: 9px; /* Sesuaikan dengan nilai yang sesuai */
    width: 100%;
    max-width: 1200px; /* Sesuaikan dengan nilai yang sesuai */

    .root {
      /* height: 9rem;  */
      color: white;
      padding: 6px;
      background-color: #101012; /* Sesuaikan dengan warna latar belakang yang sesuai */
      border-radius: 2px; /* Sesuaikan dengan radius sudut yang sesuai */
      border: none;
      outline: none;
      ring-offset-color: #7878a3; /* Sesuaikan dengan warna ring offset yang sesuai */

      &:focus-visible {
        /* ring: 1px; 
        ring-offset: 1px;  */
        outline: 2px solid #ddd;
        outline-offset: 0.125rem;
      }
    }

    .submitContainer {
      display: flex;
      gap: 1rem;
      align-items: center;
      justify-content: flex-end;

      .cancelButton {
        height: 3rem; /* h-12 in Tailwind */
        background-color: #1f1f22; /* bg-dark-4 in Tailwind */
        padding-left: 1.25rem; /* px-5 in Tailwind */
        padding-right: 1.25rem; /* px-5 in Tailwind */
        color: #ffffff; /* text-light-1 in Tailwind */
        display: flex; /* flex in Tailwind */
        gap: 0.5rem; /* gap-2 in Tailwind */
      }

      .submitButton {
        height: 3rem; /* h-12 in Tailwind */
        padding-left: 1.25rem; /* px-5 in Tailwind */
        padding-right: 1.25rem; /* px-5 in Tailwind */
        background-color: #877eff; /* replace with your actual primary color */
        color: #ffffff; /* text-light-1 in Tailwind, replace with your actual light color */
        display: flex; /* flex in Tailwind */
        gap: 0.5rem; /* gap-2 in Tailwind */
        transition: background-color 0.3s ease;
        white-space: nowrap;
        &:hover {
          background-color: #877eff;
        }
      }
    }
  }
}

/* Todo bottom bar */
/* Bottom bar */
.bottomBar {
  z-index: 50;
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: sticky;
  align: center;
  bottom: 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #09090a; /* Sesuaikan dengan nilai bg-dark-2 di Tailwind */
  padding: 1rem 1.25rem; /* Sesuaikan dengan nilai px-5 dan py-4 di Tailwind */
  /* height: 100vh; */
  @media (min-width: 768px) {
    display: none;
  }

  .linkContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.25rem;
    padding: 0.5rem;
    transition: all 0.3s ease;
    text-decoration: none;

    .sidebarIconActive {
      filter: invert(100%) brightness(0);
    }
  }

  .linkActive {
    border-radius: 10px; /* Nilai sesuai dengan rounded-[10px] di Tailwind */
    background-color: #877eff;
  }

  .textLabel {
    font-size: 10px;
    font-weight: medium;
    line-height: 140%;
    color: #efefef; /* Ganti dengan warna teks yang sesuai */
  }
}

/* TODO dropzone */
.dropZone {
  background-color: #101012 !important; /* Ganti dengan warna latar belakang yang sesuai */
}

.imgPreviewContainer {
  display: flex;
  flex: 1;
  justify-content: center;
  width: 100%;
  padding: 1.25rem;
  @media (min-width: 1024px) {
    padding: 2.5rem;
  }
}

.imgPreview {
  /* height: 80px; */
  width: 100%;
  border-radius: 24px;
  object-fit: cover;
  object-position: top;

  @media (min-width: 1024px) {
    height: 480px;
  }
}

.dragText {
  color: #5c5c7b;
  text-align: center;
  width: 100%;
  padding: 1rem;
  border-top: 1px solid #1f1f22;
  font-size: 14px;
  font-weight: normal;
  line-height: 140%;
}

.dropContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #101012; /* Ganti dengan warna latar belakang yang sesuai */
  border-radius: 0.75rem; /* Sesuaikan sesuai kebutuhan Anda */
  cursor: pointer;
}
